@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: rgb(35, 33, 33);
}

body {
    min-height: 100vh;
    background-color: rgb(185, 210, 235);
   
}
/* for signup page */
.registerform{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.registerform input{
    display:flex;
    height: 35px;
    width: 80%;
    border-radius: 10px !important;
}
.registerform .reg{
    color: black;
    margin-top: 10px;
    width: 35%;
    height: 40px;
    border: none;
    background-color: rgb(109, 174, 76);
    text-transform: lowercase;
}
.registerform .reg:hover{
    background-color: rgb(160, 241, 19);
    cursor: pointer;
}
.registerform .reset{
    margin-top: 10px;
    width:  40%;
    height: 40px;
    margin-left: 5px;
    border: none;
    background-color: chocolate;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    color: black;
}
.registerform .reset:hover{
    background-color: red;
    cursor: pointer;
}

.registerform a{
    text-decoration: none;
    color: rgb(25, 28, 225);
    cursor: pointer;
}
.registerform a:hover{
    color: rgb(229, 26, 29);
}

/* for page not found */
.pagenotfound{
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    font-size: 3rem;
}

.msg .errormsg{
    color:red;
}

/* for login page */

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loginform input{
    margin-top: 10px;
    height: 40px;
    width: 30vh;
    border-radius: 10px !important;
}
.loginform .loginbtn{
    margin-top: 20px;
   color: rgb(17, 17, 18);
   background-color: rgb(76, 174, 141);
   margin-left: 50px;
   text-transform: lowercase;
}
.loginform .loginbtn:hover{
    background-color: crimson;
    transform: scale(0.8);
}

.loginform .logintog{
    margin-top: 20px;
    
}

.loginform a{
    text-decoration: none;
    color: rgb(15, 41, 244);
    cursor: pointer;
}
.loginform a:hover{
  color: red;
}



